<a href="https://colab.research.google.com/github/Rajadurai97/movie_recommentation/blob/main/Movie_recommentation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**#Step 1: importing libraries and dataset**

In [1]:
import pandas as pd 
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
url = 'https://raw.githubusercontent.com/WidhyaOrg/datasets/master/movie_dataset.csv'
dataset = pd.read_csv(url)

In [3]:
dataset.head()

   index  ...           director
0      0  ...      James Cameron
1      1  ...     Gore Verbinski
2      2  ...         Sam Mendes
3      3  ...  Christopher Nolan
4      4  ...     Andrew Stanton

[5 rows x 24 columns]

**#Step 2: feature selection and data cleaning**

In [4]:
df =dataset[['title','keywords','cast','genres','director']]
df.isnull().sum()

title         0
keywords    412
cast         43
genres       28
director     30
dtype: int64

In [5]:
df = df.replace(np.nan, '', regex=True)
df.isnull().sum()

title       0
keywords    0
cast        0
genres      0
director    0
dtype: int64

**#Step 3: combining the features into combine_feature as new column to find similiarity**

In [6]:
df['combine_feature'] = ''
columns = ['title','genres','director','cast','keywords']
for index, row in df.iterrows():
    words = ''
    for col in columns:
        words += ''.join(row[col])+ ' '
    row['combine_feature'] = words
df2 = df[['title','combine_feature']]

**#Step 4: Find similiarity**

In [7]:
count = CountVectorizer()
count_matrix = count.fit_transform(df2['combine_feature'])
cosine_sim = cosine_similarity(count_matrix, count_matrix)
print(cosine_sim)

[[1.         0.09078413 0.11572751 ... 0.         0.         0.        ]
 [0.09078413 1.         0.06537205 ... 0.06052275 0.         0.        ]
 [0.11572751 0.06537205 1.         ... 0.         0.10206207 0.        ]
 ...
 [0.         0.06052275 0.         ... 1.         0.         0.07142857]
 [0.         0.         0.10206207 ... 0.         1.         0.        ]
 [0.         0.         0.         ... 0.07142857 0.         1.        ]]

**The series of movie title, so series index can match the row and column index of similiarity matrix**

In [8]:
indices = pd.Series(df['title'])

**#Step 5: run and test the recommender model**

In [9]:
# Step 5: run and test the recommender model
def recommend(title, cosine_sim = cosine_sim):
    recommended_movies = []
    idx = indices[indices == title].index[0]
    score_series = pd.Series(cosine_sim[idx]).sort_values(ascending = False)
    top_10_indices = list(score_series.iloc[1:11].index)
    
    for i in top_10_indices:
        recommended_movies.append(list(df['title'])[i])
    return recommended_movies

**#Step 6: Checking the similiar movies**

In [10]:
recommend('Avatar')

['Guardians of the Galaxy',
 'Aliens',
 'Alien',
 'Zathura: A Space Adventure',
 'Star Trek Into Darkness',
 'Star Trek Beyond',
 'Lockout',
 'Jason X',
 'Star Wars: Clone Wars: Volume 1',
 'Lost in Space']